body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 600px;
  width: 100%;
  z-index: -1;
  background: center/100% 100% no-repeat url("/img/mainbackground.png"); }

body {
  width: 100%; }

header,
main,
footer {
  padding: 0 20px;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.top-block {
  margin-top: 50px;
  width: 40%; }
  .top-block h1 {
    font-size: 36px; }

body {
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

.text-header {
  font-size: 1.2em;
  font-weight: 500; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0; }
  header .logo a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    min-width: 130px; }
  header .logo a span {
    font-weight: bold; }
  header .logo .logo-img {
    border: 0;
    width: 50px;
    height: 50px;
    background: center/30% no-repeat url("/img/logo/Vector.png"), 45% 200%/90% no-repeat url("/img/logo/Rectangle 2.png"); }
  header nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px; }
  header nav a.current-page {
    font-weight: bold;
    text-decoration: solid;
    text-decoration: underline; }
  header .buy {
    display: flex;
    align-items: center; }
    header .buy .cost {
      display: flex;
      align-items: center; }
  header .arrow-cost {
    width: 15px;
    height: 15px;
    background: 80% 80%/80% no-repeat url("/img/Vector 1.png"); }

button {
  border: 0px;
  border-radius: 100px; }
  button.cart {
    width: 30px;
    height: 30px; }
  button.cart-red {
    background: center/50% no-repeat url("/img/cart.png"), #F44B4B; }
  button.cart-green {
    background: center/50% no-repeat url("/img/cart.png"), #BEEDC8; }
  button.button-main {
    padding: 8px 20px;
    font-weight: bold;
    color: white;
    background-color: #F44B4B; }
  button.button-highlighted {
    background: linear-gradient(250, 83, 83, 0.5);
    box-shadow: 0 0 10px #F44B4B; }
  .top-block button {
    margin-top: 25px;
    font-size: 1.25em;
    padding: 8px 30px; }
  button.cost {
    background-color: inherit; }

.mini-scroll {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .mini-scroll button {
    padding: 5px;
    margin: 0;
    min-width: 30px;
    height: 30px; }
