body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 600px;
  width: 100%;
  z-index: -1;
  background: center/100% 100% no-repeat url("/img/background/mainbackground.png"); }

body {
  width: 100%; }

header,
main,
.footer-content {
  padding: 0 50px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }

.top-block {
  margin-top: 50px;
  width: 40%; }
  .top-block h1 {
    font-size: 36px; }

.red {
  color: red; }

section {
  margin: 70px 0; }

.advantages {
  display: flex; }
  .advantages .advantage {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 33%; }
    .advantages .advantage p {
      margin: 5px 0; }
  .advantages .advantage-img {
    margin-right: 20px;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    display: flex; }
    .advantages .advantage-img img {
      width: 55%;
      margin: 0 auto;
      align-self: center; }
    .advantages .advantage-img.adv-green {
      background-color: rgba(22, 191, 59, 0.28); }
    .advantages .advantage-img.adv-blue {
      background-color: #c3edff; }
    .advantages .advantage-img.adv-red {
      background-color: rgba(254, 155, 147, 0.49); }

.watch-next {
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #CD3E3E; }

.dog {
  position: absolute;
  height: 500px;
  top: 100px;
  left: 50%; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px; }

.text-header {
  font-size: 1.15em;
  font-weight: 600; }

.text-promo {
  font-size: 1.2em; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

form input,
form textarea {
  font-family: "Montserrat", sans-serif; }

.about {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px; }
  .about .info-people {
    display: flex; }
    .about .info-people .people {
      text-align: center;
      margin: 0 5px; }
      .about .info-people .people .people-img {
        width: 110px; }
        .about .info-people .people .people-img img {
          width: 100%; }
      .about .info-people .people .people-name {
        font-weight: bold; }

footer {
  background: linear-gradient(120deg, rgba(255, 141, 6, 0.57), #f69c17);
  padding: 50px 0 15px 0; }
  footer .footer-content {
    display: flex;
    justify-content: space-between; }
    footer .footer-content .footer-about .social-logos {
      display: flex; }
      footer .footer-content .footer-about .social-logos a {
        margin: 0 5px; }
    footer .footer-content .footer-contacts {
      display: flex;
      flex-direction: column; }
      footer .footer-content .footer-contacts .contact-icon {
        margin-bottom: 10px; }
    footer .footer-content .footer-help .copyright {
      margin-top: 70px; }
  footer .footer-header {
    font-weight: bold; }
  footer a {
    padding: 8px 0;
    color: black;
    text-decoration: none;
    display: block; }

.feedback-form {
  border: 1px solid #FFAD49;
  border-radius: 3px;
  padding: 25px 40px;
  width: 400px;
  margin: 20px auto 0 auto; }
  .feedback-form fieldset {
    padding: 0;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #FFAD49;
    border-radius: 6px;
    box-sizing: border-box; }
    .feedback-form fieldset legend {
      margin-left: 10%;
      color: #FFAD49;
      padding: 0 10px;
      font-size: 0.8em; }
  .feedback-form input,
  .feedback-form textarea {
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    padding: 5px 5px 10px 5px; }
  .feedback-form input {
    display: block; }
  .feedback-form textarea {
    margin: 0;
    resize: none;
    height: 80px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0; }
  header nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px; }
  header nav a.current-page {
    font-weight: bold;
    text-decoration: solid;
    text-decoration: underline; }
  header .buy {
    display: flex;
    align-items: center; }
    header .buy .cost {
      display: flex;
      align-items: center; }
  header .arrow-cost {
    width: 15px;
    height: 15px;
    background: 80% 80%/80% no-repeat url("/img/Vector 1.png"); }

button {
  border: 0px;
  border-radius: 100px;
  font-family: "Montserrat", sans-serif; }
  button.cart {
    width: 30px;
    height: 30px; }
  button.cart-red {
    background: center/50% no-repeat url("/img/cart.png"), #F44B4B; }
  button.cart-green {
    background: center/50% no-repeat url("/img/cart.png"), #BEEDC8; }
  button.button-main {
    padding: 8px 20px;
    color: white;
    background-color: #F44B4B; }
  button.button-highlighted {
    background: linear-gradient(250, 83, 83, 0.5);
    box-shadow: 0 0 10px #F44B4B; }
  .top-block button {
    margin-top: 25px;
    font-size: 1.25em;
    padding: 8px 30px; }
  button.cost {
    background-color: inherit; }
  button.category {
    padding: 7px 20px;
    margin: 0 5px 0 0;
    background-color: white;
    border: 1px solid black;
    outline: none; }
  button.button-pink {
    background-color: #FA5353;
    color: white;
    font-weight: bold;
    border: 0; }
  form button {
    display: block;
    margin: 0 auto;
    background-color: #FA5353;
    color: white;
    padding: 5px 25px; }

.photo-gallery {
  margin: 10px 0; }
  .photo-gallery .block {
    display: flex;
    justify-content: space-between; }
    .photo-gallery .block.horizontal {
      flex-direction: row; }
    .photo-gallery .block.vertical {
      flex-direction: column; }
  .photo-gallery .photo {
    margin: 3px; }
    .photo-gallery .photo img {
      width: 100%;
      height: 100%; }

.items::before {
  content: '';
  position: absolute;
  top: 1000px;
  left: 0;
  width: 100%;
  height: 1000px;
  z-index: -1;
  background: center/100% 100% no-repeat url("/img/background/1.png"); }

.items {
  margin-top: 30px; }

.items-row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 20px; }

.item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 30%;
  padding: 15px 30px;
  margin: 0 10px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 2px 15px 0 rgba(255, 180, 68, 0.1); }
  .item .item-header {
    display: flex;
    align-items: center; }
    .item .item-header .month-count {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      margin-right: 5px;
      border-radius: 100%;
      background-color: #c3edff; }
  .item .item-img {
    width: 100%;
    justify-self: center; }
  .item .item-img img {
    width: 100%;
    display: block;
    margin: 0 auto; }
  .item .cost-block {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .item .cost-block p {
      margin-left: 25%; }

.logo a {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  min-width: 130px; }

.logo a span {
  font-weight: bold; }

.logo .logo-img {
  border: 0;
  width: 50px;
  height: 50px;
  background: center/30% no-repeat url("/img/logo/Vector.png"), 25% 210%/90% no-repeat url("/img/logo/Rectangle 2.png"); }

.mini-scroll {
  margin-top: 50px;
  position: relative;
  left: -40px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .mini-scroll .mini-card {
    background-color: white;
    width: 140px;
    height: 160px;
    border-radius: 40px;
    padding: 0 10px;
    margin: 0 10px;
    box-shadow: 0 2px 15px 0 rgba(255, 180, 68, 0.1); }
    .mini-scroll .mini-card p {
      margin-left: 10px; }
    .mini-scroll .mini-card .mini-card-img {
      width: 100%; }
      .mini-scroll .mini-card .mini-card-img img {
        width: 100%; }
  .mini-scroll button {
    background-color: white;
    position: relative;
    padding: 5px;
    margin: 0;
    min-width: 30px;
    height: 30px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2); }
