
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 600px;
    width: 100%;
    z-index: -1;
    background: center / 100% 100% no-repeat url('/img/mainbackground.png');
}

body {
    width: 100%;
}

header, 
main,
footer {
    padding: 0 50px;
    width: 100%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

.top-block {
    margin-top: 50px;
    width: 40%;

    h1 {
        font-size: 36px;
    }
}

.red {
    color: red;
}

section {
    margin: 70px 0;
}

.advantages {
    display: flex;

    .advantage {
        display: flex;
        align-items: center;
        padding: 0 10px;
        width: 33%;

        p {
            margin: 5px 0;
        }
    }

    .advantage-img {
        margin-right: 20px;
        border-radius: 100%;
        min-width: 60px;
        height: 60px;
        display: flex;

        img {
            width: 55%;
            display: block;
            margin: 0 auto;
            align-self: center;
        }

        &.adv-green {
            background-color: rgba(22, 191, 59, 0.28);
        }

        &.adv-blue {
            background-color: rgba(195,237,255, 1);
            ;
        }

        &.adv-red {
            background-color: rgba(254,155,147, 0.49);
        }
    }

}
