$max-width: 960px;

header, 
main,
footer {
    width: 100%;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

.top-block {
    margin-top: 50px;
    width: 40%;

    h1 {
        font-size: 36px;
    }
}

.cart-red {
    background-color: $button-color;
}

.cart-green {
    background-color: #BEEDC8;
}