
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;


    nav {
        a {
            text-decoration: none;
            color: black;
            margin: 0 15px;
        }

        a.current-page {
            font-weight: bold;
            text-decoration: solid;
            text-decoration: underline;
        }

    }

    .buy {
        display: flex;
        align-items: center;

        .cost {
            display: flex;
            align-items: center;
        }
    }

    .arrow-cost {
        width: 15px;
        height: 15px;
        background: 80% 80% / 80% no-repeat url('/img/Vector\ 1.png');
    }
}
