

button {
    border: 0px;
    border-radius: 100px;
    font-family: $font-stack;
    

    &.cart {
        width: 30px;
        height: 30px;
    }


    &.cart-red {
        background: center / 50% no-repeat url('../img/cart.png'),
                    $button-color;
    }

    &.cart-green {
        background: center / 50% no-repeat url('../img/cart.png'),
                    #BEEDC8;
    }

    &.button-main {
        
        padding: 8px 20px;
        color: white;
        background-color: $button-color;
    }

    
    &.button-highlighted {
        background: linear-gradient(250, 83, 83, 0.5);
        box-shadow: 0 0 10px $button-color;
    }
    
    .top-block & {
        margin-top: 25px;
        font-size: 1.25em;
        padding: 8px 30px;
    }

    
    &.cost {
        background-color: inherit;  
    }
    
    &.category {
        padding: 7px 20px;
        margin: 0 5px 0 0;
        background-color: white;
        border: 1px solid black;
        outline: none;
    }
    
    &.button-pink {
        background-color: #FA5353;
        color: white;
        font-weight: bold;
        border: 0;
    }

    form & {
        display: block;
        margin: 0 auto;
        background-color: #FA5353;
        color: white;
        padding: 5px 25px;
    }
}