
.photo-gallery {
    margin: 10px 0;

    .block {
        display: flex;
        justify-content: space-between;
        
        &.horizontal {
            flex-direction: row;
        }
    
        &.vertical {
            flex-direction: column;
        }
    }


    .photo {
        margin: 3px;

        img {
            width: 100%;
            height: 100%;
        }
    }
} 