.logo {
    a {
        color: black;
        display: flex;
        align-items: center;
        text-decoration: none;
        min-width: 130px;
    }
    
    a span {
        font-weight: bold;
    }

    .logo-img {
        border: 0;
        width: 50px;
        height: 50px;
        background: center / 30% no-repeat url('../img/logo/Vector.png'), 
                    25% 210% / 90% no-repeat url('../img/logo/Rectangle\ 2.png');
                    
    }
}