@media only screen and (max-width: 1050px)
{
    
    .dog {
        display: none;
    }
    
    header {

        margin: 5px 0 0 0;
        padding: 0 10px;
        nav {
            visibility: hidden;
        }
    
        .buy {
            visibility: hidden;
        }
    }

    main {
        section {
            margin: 20px 0;
        }

        .top-block {
            margin: 50px 0 0 0;
            width: 100%;

            h1{
                margin: 0px;
                font-size: 2em;
            }

            .button-main {
                display: block;
                margin: 0 auto;
            }

        }

        .mini-scroll {
            margin-top: 50px;
            justify-content: center;
            position: static;
            .mini-card {
                width: 100px;
                height: 100px;
                border-radius: 30px;

                .text-header {
                    font-size: 0.7em;
                }
            }
        } 

        .advantages {     
            flex-direction: column;

            .advantage {
                width: 100%;
                margin-top: 10px;
            }      
        }

        .items::before {
            content: '';
            position: absolute;
            top: 700px;
            left: 0;
            width: 100%;
            height: 1000px;
            z-index: -1;
            background: center / 100% 100% no-repeat url('/img/background/1.png');
        }
        
        .items {
            margin-top: 30px;
        }
        
        .items-row {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            flex-direction: column;
            margin-bottom: 20px;
        }
        
        .item {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            max-width: 350px;
            width: 100%;
            padding: 15px 30px;
            margin: 5px auto;
            background-color: white;
            border-radius: 30px;
            box-shadow: 0 4px 15px 0 rgba(255, 180, 68, 0.2);

        }

        button.category {
            font-size: 0.7em;
            padding: 5px 10px;
            margin: 0 0 5px 0;
        }

        button.button-pink {
            background-color: #FA5353;
            color: white;
            font-weight: bold;
            border: 0;
        }

        .about {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            margin-bottom: 10px;;
            
        
            .info-people {
                display: flex;
                margin: 0 auto;
                .people {
                    text-align: center;
                    margin: 0 5px;
                    .people-img {
                        max-width: 70px;
        
                        img {
                            width: 100%;
                        }
                    }
        
                    .people-name {
                        font-weight: bold;
                    }
                }
            }

        }
    }

    footer {
        font-size: 0.8em;
        padding-top: 10px;
        .footer-content {
            padding: 0 15px;

            & > div {
                margin: 0 10px;
            }
        }

    }
}